<!-- <app-header />

<section class="dashboard">
  <app-machines-quantity />
  <app-machines-status />
  <app-machines />
</section> -->

<app-header />

<section class="dashboard">
  <!-- Container para os dois gráficos -->
   <!-- alerta - verificar a rederização do grafico -->
  <div class="charts-container">
    <div class="chart-item">
      <app-machines-quantity />
    </div>
    <div class="chart-item">
      <app-machines-status />
    </div>
  </div>

  <div class="list-container">
    <router-outlet></router-outlet>
  </div>
</section>