.dashboard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f4f7f6;
  min-height: 100vh;

  .charts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    // width: auto;

    .chart-item {
      flex: 1;
      min-width: 350px;
      background: white;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    }
  }

  .list-container {
    width: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
  }
}